html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// Error component
.error-component {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  p {
    margin-top: 2em;
    color: #fffbf1;
    display: flex;
    align-items: flex-end;
    line-height: 1;
    text-decoration: underline;

    .reset-icon {
      cursor: pointer;
      content: url("data:image/svg+xml,%3Csvg width='19px' height='22px' viewBox='0 0 19 22' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3E957DA845-A014-4B8E-B2A5-458464E4D80E%3C/title%3E%3Cg id='Sprint-4' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Checkout-Member-Gifts' transform='translate(-1280.000000, -1027.000000)'%3E%3Cg id='Are-you-ready-to-order%3F' transform='translate(1280.000000, 636.000000)'%3E%3Cg id='refresh' transform='translate(9.500000, 402.000000) rotate(-90.000000) translate(-9.500000, -402.000000) translate(-1.000000, 393.000000)'%3E%3Cpath d='M17,10.9102157 L17,9 C17,4.581722 13.418278,1 9,1 C4.581722,1 1,4.581722 1,9 C1,13.418278 4.581722,17 9,17' id='Path' stroke='%239A7B69' stroke-width='2'%3E%3C/path%3E%3Cpath d='M14.5,12.2071068 L14.5,10.2071068 L17.5,10.2071068 L17.5,7.20710678 L19.5,7.20710678 L19.5,12.2071068 L14.5,12.2071068 Z' id='Combined-Shape' fill='%239A7B69' transform='translate(17.000000, 9.707107) rotate(45.000000) translate(-17.000000, -9.707107) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }

  h3 {
    width: 45%;
    margin: 0 auto;
  }
}

// Basket icon
.basket-icon {
  content: url("data:image/svg+xml,%3Csvg width='32px' height='30px' viewBox='0 0 32 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EBasket%3C/title%3E%3Cg id='Sprint-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='PDP-Home-Deluxe-3' transform='translate(-1823.000000, -41.000000)' fill='%231A1919' fill-rule='nonzero'%3E%3Cg id='Basket' transform='translate(1823.000000, 41.000000)'%3E%3Cpath d='M32,11.7391304 C32,10 30.3418863,8.47826087 28.4765083,8.47826087 L23.5021671,8.47826087 L23.5021671,7.60869565 C23.5021671,3.47826087 20.1859397,0 16.0406554,0 L15.6261269,0 C11.6881068,0.217391304 8.57914361,3.47826087 8.57914361,7.60869565 L8.57914361,8.47826087 L3.60480243,8.47826087 C3.39753821,8.47826087 3.19027399,8.47826087 2.77574556,8.47826087 C1.9466887,8.69565217 1.11763184,9.34782609 0.495839188,10.2173913 C0.0813107562,11.0869565 -0.12595346,11.9565217 0.0813107562,13.0434783 L2.98300978,26.5217391 C3.39753821,28.6956522 5.26291615,30 7.33555831,30 L24.7457524,30 C26.8183946,30 28.6837725,28.4782609 29.098301,26.5217391 L32,13.0434783 C32,12.826087 32,12.6086957 32,12.173913 L32,11.7391304 Z M11.0663142,8.47826087 L11.0663142,7.60869565 C11.0663142,4.7826087 13.3462206,2.39130435 16.0406554,2.39130435 L16.2479196,2.39130435 C18.9423544,2.60869565 21.0149966,4.7826087 21.0149966,7.60869565 L21.0149966,8.47826087 L11.0663142,8.47826087 Z M29.7200936,12.173913 C29.7200936,12.173913 29.7200936,12.3913043 29.7200936,12.3913043 L26.8183946,25.8695652 C26.6111304,26.7391304 25.7820735,27.6086957 24.7457524,27.6086957 L7.33555831,27.6086957 C6.29923723,27.6086957 5.47018037,26.9565217 5.26291615,25.8695652 L2.36121713,12.3913043 C2.36121713,12.173913 2.36121713,11.7391304 2.56848135,11.5217391 C2.77574556,11.3043478 2.98300978,11.0869565 3.39753821,10.8695652 C3.39753821,10.8695652 3.60480243,10.8695652 3.60480243,10.8695652 L28.4765083,10.8695652 C29.098301,10.8695652 29.7200936,11.5217391 29.7200936,12.173913 Z' id='basket-icon'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  margin: 0 15px;
  color: #fffbf1;
  &:active {
    transform: scale(0.9);
  }
}

.cart-count {
  position: absolute;
  right: 10px;
  background-color: #7e7e7e;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 50%;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 18px;
}

// Cart
.cart-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f0ede1;

  &__empty {
    margin: 10%;
    .cart__modal {
      margin: auto;
      padding: 48px 40px;
      background-color: #f0ede1;
      width: 50%;

      button {
        margin: 32px 0 0;
      }

      h4 {
        padding-bottom: 32px;
      }
    }
  }

  &__inner {
    // max-width: $containerWidth;
    padding: 20px 64px;
    height: 100%;
    overflow-y: auto;
    justify-content: space-around;
    display: flex;
    position: relative;
    margin: 0 auto;

    &__left {
      width: 70% !important;
      height: 100%;
      overflow-y: auto;
      padding-bottom: 10%;
    }

    .cart {
      width: 100%;
      align-items: center;
      margin-bottom: 2px;
      padding: 25px 42px 25px;
      background-color: #fffbf1;
      display: flex;
      flex-wrap: wrap;
      position: relative;

      &.list-item {
        position: relative;
        z-index: 3;

        .product-price-wrapper {
          display: flex;
          flex-direction: column-reverse;
          width: 134px;
          padding-left: 24px;
        }
      }

      &.list-item.gift {
        display: none;
      }

      &__header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: sticky;
        top: 0;
        z-index: 4;
        margin-bottom: 0;
        border-bottom: 2px solid #666666;
        height: 120px;

        &__inner {
          display: flex;
          align-items: center;
          margin-top: 66px;

          div {
            &:first-child {
              width: 692px;
            }

            &:nth-child(2) {
              width: 282px;
            }
          }
        }
      }

      .cart-item-img {
        width: 125px;
        height: auto;
        margin-right: 1em;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &__text {
        margin-left: 0;
        text-align: left;
        position: relative;
        width: 530px;

        p.btn--remove-btn {
          color: black;
          margin: 0;
          text-align: left;
          text-transform: capitalize;
          text-decoration: underline;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            color: rgba(99, 71, 40, 0.9);
          }
        }

        .cart-collection-name {
          text-transform: uppercase;
          font-family: "ScalaSansOT";
          color: #fff1f1;
          margin-bottom: 24px;
        }

        .title,
        .cart-bundle {
          margin-bottom: 15px;
        }

        .cart-bundle {
          color: #222222;
          text-transform: normal !important;
          font-family: "ScalaSansOT";
          line-height: 40px;
        }
      }

      &__number {
        font-size: 18px;
      }

      &__prices {
        display: flex;
        width: 122px;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0.5em;

        &__item {
          font-size: 24px;
          line-height: 32px;
          letter-spacing: 1px;
          color: #000000;
          position: relative;
        }
      }

      &__discount,
      &__discount--small {
        font-family: ClassicalGaramondBT-Roman, "Times New Roman", serif;
        font-size: 0.9em;
        color: #cc9d67;
        margin-top: 4px;
      }

      &__discount--small {
        text-align: center;
      }

      &__quantity {
        font-family: inherit;
        padding: 6px 6px 10px 6px;
        border: 1px solid #222222;
        border-radius: 4px;
        font-size: 24px;
        width: 56px;
        height: 56px;
        text-align: center;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-appearance: none;
        margin: 0;

        &:focus {
          outline: none;
        }
      }

      input.quantity::-webkit-outer-spin-button,
      input.quantity::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input.quantity[type="number"] {
        -moz-appearance: textfield;
      }
    }

    .btn-wrapper {
      position: relative;
      width: 285px;
      margin-left: -8px;
      display: flex;
      align-items: center;

      label {
        position: absolute;
        left: 28%;
      }

      &__inner {
        position: absolute;

        .button--action {
          height: 176px;
          display: flex;
          align-items: center;
        }

        &:nth-child(1) .btn:before {
          content: "–";
          margin-left: 3px;
          margin-bottom: 2px;
          font-size: 1.5em;
          color: #222222;
        }

        &:nth-child(3) {
          position: absolute;
          left: 50%;

          .btn:after {
            content: "+";
            margin-left: 3px;
            margin-bottom: 2px;
            position: absolute;
            font-size: 24px;
            color: #222222;
          }
        }
      }

      .btn {
        background: #fffbf1;
        border-radius: 50%;
        border: 1px solid #222222;
        height: 44px;
        width: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 15px;
        transition: all 0.3s ease;
      }
    }

    &__preview {
      position: relative;
      width: 35%;
      margin-left: 32px;

      /* cart preview aligned right */
      .cart {
        &__right {
          width: 100%;
          display: flex;
          flex-direction: column;
          background-color: transparent;
          justify-content: center;
          align-items: flex-start;
          padding: 0 0 40px;

          > * {
            width: 100%;
            background-color: #ffffff;
            padding: 21px 50px 25px 42px;
          }
        }

        &__intro {
          padding-top: 52px;
          border-bottom: 1px solid #d4d4d4;

          .header {
            font-family: ScalaSansOT, "Segoe UI", Roboto, "Helvetica Neue";
            padding-bottom: 66px;
          }
        }

        &__total {
          width: 100%;
          border-bottom: 1px solid #d4d4d4;

          p {
            margin: 0;
          }

          &:nth-of-type(1) {
            border-top: 1px solid #d4d4d4;
          }

          &__desc {
            color: #222222;
            padding-top: 10px;
          }
        }

        &__inner {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
        }

        &__finish {
          margin-top: 2em;
          padding-top: 40px;

          p {
            margin-top: 60px;
          }
        }

        &__checkout {
          position: fixed;
          width: 1393px;
          height: 851px;
          z-index: 11;
          left: 50%;
          transform: translateX(-50%);
          padding: 0;

          &__inner {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 12;
            background-color: #666666;
            padding: 92px 50px 25px 42px;

            &__gallery {
              padding-top: 52px;
              padding-bottom: 240px;
              display: flex;
              justify-content: center;
              align-items: center;

              .modal-image {
                position: relative;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                  margin-top: 20px;
                }

                img {
                  width: 80%;
                }

                .arrow-icon {
                  width: 16px;
                  height: 16px;
                  position: absolute;
                  top: 50%;
                  right: -10px;
                  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14px' height='25px' viewBox='0 0 14 25' version='1.1'%3E%3Ctitle%3E5466AACB-348A-4AC4-9D46-1A486166A1E4%3C/title%3E%3Cg id='Sprint-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square' %3E%3Cg id='Menu' transform='translate(-714.000000, -324.000000)' stroke='%23000000' stroke-width='5' %3E%3Cg id='menu-copy-5'%3E%3Cpath d='M715.5,325.5 L726.5,336.5 M715.5,347.5 L726.5,336.5' id='arrow-copy' %3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                }
              }
            }

            &__bottom {
              position: absolute;
              bottom: 0;
              left: 0;
              background-color: #ffffff;
              width: 100%;
              height: 168px;
              padding: 24px 80px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              button {
                margin: 0;
                min-width: 212px;
              }

              img {
                height: 100px;
              }
            }
          }

          .overlay {
            display: initial;
            width: 150vw;
            height: 150vh;
            top: -50%;
            left: -50%;
            z-index: 10;
          }
        }

        &__reset {
          background-color: transparent;
          padding: 38px 0 0;

          p {
            color: #fff1f1;
            display: flex;
            align-items: flex-end;
            line-height: 1;
            text-decoration: underline;

            .reset-icon {
              margin-right: 8px;
              cursor: pointer;
              content: url("data:image/svg+xml,%3Csvg width='19px' height='22px' viewBox='0 0 19 22' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3E957DA845-A014-4B8E-B2A5-458464E4D80E%3C/title%3E%3Cg id='Sprint-4' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Checkout-Member-Gifts' transform='translate(-1280.000000, -1027.000000)'%3E%3Cg id='Are-you-ready-to-order%3F' transform='translate(1280.000000, 636.000000)'%3E%3Cg id='refresh' transform='translate(9.500000, 402.000000) rotate(-90.000000) translate(-9.500000, -402.000000) translate(-1.000000, 393.000000)'%3E%3Cpath d='M17,10.9102157 L17,9 C17,4.581722 13.418278,1 9,1 C4.581722,1 1,4.581722 1,9 C1,13.418278 4.581722,17 9,17' id='Path' stroke='%239A7B69' stroke-width='2'%3E%3C/path%3E%3Cpath d='M14.5,12.2071068 L14.5,10.2071068 L17.5,10.2071068 L17.5,7.20710678 L19.5,7.20710678 L19.5,12.2071068 L14.5,12.2071068 Z' id='Combined-Shape' fill='%239A7B69' transform='translate(17.000000, 9.707107) rotate(45.000000) translate(-17.000000, -9.707107) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            }
          }
        }

        &__bottom-box {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          margin-top: 3em;

          button {
            white-space: nowrap;
            margin: 0;
          }

          a button {
            margin-left: 1em;
          }
        }
      }
    }
  }

  &__nav {
    height: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon-close {
      width: 32px;
      height: 32px;
      color: #000000;
    }
  }
}

.error {
  flex: 0 0 100%;
}

.price--discount {
  color: #444444;
  font-size: 18px;
  text-decoration: line-through;
  line-height: 32px;
}

.product-price-wrapper {
  display: flex;
  flex-direction: column;
}

.product--price {
  display: inline-block;
  font-family: "ScalaSansOT";
  font-size: 22px;
  letter-spacing: 1.2px;
  line-height: 38px;
  color: #444444;
}
