html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// Error component
.error-component {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  p {
    margin-top: 2em;
    color: #fffbf1;
    display: flex;
    align-items: flex-end;
    line-height: 1;
    text-decoration: underline;

    .reset-icon {
      cursor: pointer;
      content: url("data:image/svg+xml,%3Csvg width='19px' height='22px' viewBox='0 0 19 22' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3E957DA845-A014-4B8E-B2A5-458464E4D80E%3C/title%3E%3Cg id='Sprint-4' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Checkout-Member-Gifts' transform='translate(-1280.000000, -1027.000000)'%3E%3Cg id='Are-you-ready-to-order%3F' transform='translate(1280.000000, 636.000000)'%3E%3Cg id='refresh' transform='translate(9.500000, 402.000000) rotate(-90.000000) translate(-9.500000, -402.000000) translate(-1.000000, 393.000000)'%3E%3Cpath d='M17,10.9102157 L17,9 C17,4.581722 13.418278,1 9,1 C4.581722,1 1,4.581722 1,9 C1,13.418278 4.581722,17 9,17' id='Path' stroke='%239A7B69' stroke-width='2'%3E%3C/path%3E%3Cpath d='M14.5,12.2071068 L14.5,10.2071068 L17.5,10.2071068 L17.5,7.20710678 L19.5,7.20710678 L19.5,12.2071068 L14.5,12.2071068 Z' id='Combined-Shape' fill='%239A7B69' transform='translate(17.000000, 9.707107) rotate(45.000000) translate(-17.000000, -9.707107) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }

  h3 {
    width: 45%;
    margin: 0 auto;
  }
}

// Basket icon
.basket-icon {
  content: url("data:image/svg+xml,%3Csvg width='32px' height='30px' viewBox='0 0 32 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EBasket%3C/title%3E%3Cg id='Sprint-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='PDP-Home-Deluxe-3' transform='translate(-1823.000000, -41.000000)' fill='%231A1919' fill-rule='nonzero'%3E%3Cg id='Basket' transform='translate(1823.000000, 41.000000)'%3E%3Cpath d='M32,11.7391304 C32,10 30.3418863,8.47826087 28.4765083,8.47826087 L23.5021671,8.47826087 L23.5021671,7.60869565 C23.5021671,3.47826087 20.1859397,0 16.0406554,0 L15.6261269,0 C11.6881068,0.217391304 8.57914361,3.47826087 8.57914361,7.60869565 L8.57914361,8.47826087 L3.60480243,8.47826087 C3.39753821,8.47826087 3.19027399,8.47826087 2.77574556,8.47826087 C1.9466887,8.69565217 1.11763184,9.34782609 0.495839188,10.2173913 C0.0813107562,11.0869565 -0.12595346,11.9565217 0.0813107562,13.0434783 L2.98300978,26.5217391 C3.39753821,28.6956522 5.26291615,30 7.33555831,30 L24.7457524,30 C26.8183946,30 28.6837725,28.4782609 29.098301,26.5217391 L32,13.0434783 C32,12.826087 32,12.6086957 32,12.173913 L32,11.7391304 Z M11.0663142,8.47826087 L11.0663142,7.60869565 C11.0663142,4.7826087 13.3462206,2.39130435 16.0406554,2.39130435 L16.2479196,2.39130435 C18.9423544,2.60869565 21.0149966,4.7826087 21.0149966,7.60869565 L21.0149966,8.47826087 L11.0663142,8.47826087 Z M29.7200936,12.173913 C29.7200936,12.173913 29.7200936,12.3913043 29.7200936,12.3913043 L26.8183946,25.8695652 C26.6111304,26.7391304 25.7820735,27.6086957 24.7457524,27.6086957 L7.33555831,27.6086957 C6.29923723,27.6086957 5.47018037,26.9565217 5.26291615,25.8695652 L2.36121713,12.3913043 C2.36121713,12.173913 2.36121713,11.7391304 2.56848135,11.5217391 C2.77574556,11.3043478 2.98300978,11.0869565 3.39753821,10.8695652 C3.39753821,10.8695652 3.60480243,10.8695652 3.60480243,10.8695652 L28.4765083,10.8695652 C29.098301,10.8695652 29.7200936,11.5217391 29.7200936,12.173913 Z' id='basket-icon'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  margin: 0 15px;
  color: #fffbf1;
  &:active {
    transform: scale(0.9);
  }
}

.user-icon {
  content: url("https://icons.veryicon.com/png/o/internet--web/prejudice/user-128.png");
  color: #fffbf1;
  width: 35px;
}

.cart-count {
  position: absolute;
  right: 50px;
  background-color: #7e7e7e;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 50%;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 18px;
}

// Cart
.home a,
.cart a {
  text-decoration: none;
  color: #212529;
}
#inputQuantity {
  max-width: 3rem;
}
.error {
  flex: 0 0 100%;
}

.error {
  flex: 0 0 100%;
}

.price--discount {
  color: #444444;
  font-size: 18px;
  text-decoration: line-through;
  line-height: 32px;
}

.product-price-wrapper {
  display: flex;
  flex-direction: column;
}

.product--price {
  display: inline-block;
  font-family: "ScalaSansOT";
  font-size: 22px;
  letter-spacing: 1.2px;
  line-height: 38px;
  color: #444444;
}

// Tabs

nav.tabs.configurator-tabs {
  position: absolute;
  width: auto;
  z-index: 9;
  top: 12%;
  text-align: center;
}

ul {
  margin-bottom: 0 !important;
  list-style: none;
  display: flex;

  li.conf-item {
    // margin-right: 15%;
    &.selected {
      p {
        color: #444444;
        font-weight: 700;
      }
    }
    p {
      color: black;
      text-transform: none;
    }
  }
}

.home a,
.cart a {
  text-decoration: none;
  color: #212529;
}
#inputQuantity {
  max-width: 3rem;
}
.error {
  flex: 0 0 100%;
}
